
node_modules/
jspm_packages/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
.env.production


dist/
build/
out/

.npm
.eslintcache
.parcel-cache
.turbo
.next